<div class="wrapper">
    <img src="/assets/img/burger.png" width="150" height="150">
    <h2>Eat-Da-Burger!</h2>

    <div class="container">
        <div class="panel-menu">

        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{id}}.{{burger_name}}
                    <button class="devour" data-id="{{this.id}}">Devour</button>
                </li>
                {{/unless}}
                {{/each}}
        </ul>
    </div>

    <div class="panel-devoured">
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                <li>
                    {{id}}.{{burger_name}}
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>

    <form class="form-add-burger">
        <input type="text" id="name" name="name">
        <br>
        <button type="submit">Submit</button>
        <br>
        <div>Enter a burger you want to eat Click the "Submit" button</div>
    </form>
</div>
